/* create custom color variables */
:root {
    --brand: #4dbf00;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #fff;
    font-family: Helvetica, sans-serif
}

/* .container {
    display: grid;

} */

#month {
    color: chocolate;
    text-align: center;
    border-radius: 2px;
}




.shawarma-button-container {
    display: inline-block;
    padding: 10px;

}

.container-tow {

    text-align: center;
}


.count {
    display: unset;
    left: -100%;
}

.plus {
    right: 1px;
    cursor: pointer;
}

.minus {
    left: 1px;
    cursor: pointer;
}

.shwarma button {
    background-color: #fff;
    border: 1px solid var(--brand);
    border-radius: 4px;
    color: #3c4043;
    cursor: pointer;
    font-family: arial, sans-serif;
    font-size: 30px;
    height: 36px;
    line-height: 27px;
    width: 220px;
    padding: 0 16px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: pre;
    margin: 20px;
}

.container-tow button {
    width: 320px;
}

.shwarma button:hover {
    border-color: var(--brand);
    box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
    color: #202124;
}

.shwarma button:focus {
    border-color: #4285f4;
    outline: none;
}


.titel_sh {
    text-align: center;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}


.titel_pizza {
    text-align: center;
    color: #000;
}


.submit {
    margin-left: 10px;
    background-color: #fff;
    cursor: pointer;
    border-radius: 4px;
    font-size: 20px;
    border: 1px solid var(--brand);
}

.pizza {
    text-align: center;
    display: inline-block;
}



.pastries {
    display: flex;
    justify-content: space-around;
}

.pastries button {
    background-color: #fff;
    border: 1px solid var(--brand);
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-family: "Amazon Ember", sans-serif;
    font-size: 20px;
    padding: 0 10px 0 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 100px;
}

.pastries button:hover {
    background-color: #f7fafa;
}

.pastries button:focus {
    border-color: #008296;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    outline: 0;
}

.titel_pastries {
    text-align: center;
    color: #000;

}

#daytotal {
    display: flex;
    text-align: center;
    cursor: pointer;
}

#show-info {
    color: black;
    text-align: center;
    border: 1px solid black;
    margin: 30px 20px;
}

.final {
    display: flex;
    justify-content: space-between;
}

.final button {
    align-items: center;
    background-clip: padding-box;
    background-color: #fa6400;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    margin: 0 20px;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    /* width: auto; */
}

@media (max-width: 480px) {


    .submit {
        margin-left: 10px;

    }

    .final {
        padding: 0;
        margin: 0;
    }

    .final button {
        font-size: 10px;
        width: 50px;
        line-height: 1;
    }

    .pastries button {
        margin-top: 10px;
        font-size: 10px;
        width: 80px;
        height: 20px;

    }

    .container-tow {
        display: inline-flex;
        margin-left: 10px;
    }

    .container-tow button {
        width: 60px;
    }

    .shwarma button {
        margin-top: 10px;
        margin-left: 4px;
        padding: 4px;
        height: 50px;
        font-size: 15px;
    }



    .container {
        display: inline-flex;
        margin-left: 15px;
    }

    .container button {
        margin: 0;
        height: 30px;
        padding: 0;
        width: 53px;
    }

    .pizzacontainer {
        display: inline-flex;
        position: relative;
    }



    .pizzholder button {
        font-size: 15px;
        width: 80px;
        margin-top: 8px;
        margin-left: 20px;
        margin-bottom: 10px;

    }

    .pizzacontainer i {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
        margin-right: 80px;
        padding-right: 10px;
    }

    .pastries-container {
        display: inline-flex;
        position: relative;

    }

    .pastries-container i {
        position: absolute;
        top: 50%;
        right: 90%;
        transform: translate(-50%, -90%);
        margin-right: 50px;
        padding-right: 30px;
        margin-top: 10px;
    }

    input {
        margin-left: 50px;
        margin-bottom: 10px;
    }

    .shawarma-button-container {
        position: relative;
    }

    .minus {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
        margin-right: 80px;
        padding-right: 10px;

    }

    .perant {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .order {
        margin-top: 15px;
        align-items: center;
        background-clip: padding-box;
        background-color: #fa6400;
        border: 1px solid transparent;
        border-radius: .25rem;
        box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-flex;
        font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 16px;
        font-weight: 600;
        justify-content: center;
        padding: calc(.875rem - 1px) calc(1.5rem - 1px);
        position: relative;
        text-decoration: none;
        transition: all 250ms;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: baseline;
    }

    #show_totalorder {
        box-sizing: border-box;
        margin-left: 10px;
        border: 1px solid #fa6400;
        width: 80px;
        height: 50px;
        margin-top: 15px;
        text-align: center;
        padding-top: 10px;
        background-color: #fa6400;
        color: white;
        font-weight: 600;

    }

    .attheend {
        display: flex;
    }

    #last {
        text-align: center;
        color: black;
        font-size: 29px;
    }

    #clear {
        box-sizing: border-box;
        margin-left: 10px;
        border: 1px solid #fa6400;
        width: 80px;
        height: 50px;
        margin-top: 15px;
        text-align: center;
        padding-top: 10px;
        background-color: #fa6400;
        color: white;
        font-weight: 600;

    }


}